.asrClid-group-buttons button, .asrClidGroup-group-buttons button {
    margin-right: 10px;
}
.asrClid-group-buttons button:last-child, .asrClidGroup-group-buttons button:last-child {
    margin-right: 0;
}

/* div.datedropper.date_filter .pick-m, div.datedropper.date_filter:before, div.datedropper.date_filter .pick-lg-h {
    background-color: #EB5E28;
  } */

.picker ul.pick-d {
    display: none !important;
  }
#reportRange {
    height: 40px !important;
    overflow: hidden;
}
.rowASR {
    width: 100%;
    height: 18px;
    display: flex;
    padding-right: 8px;
}

.card-filter {
    padding: 8px 10px 0;
}

.tooltip-inner {
    width: auto;
}

.table>tbody>tr>td:before {
    margin-top: 5px !important;
  }

